<!DOCTYPE html>
<html ng-app="fertilizer">
    <head>
      <link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="style.css" />

    </head>
    <body>
	  <h1> 'Fertangular' Fertilizer Calculator </h1>

      <form name="fieldForm" ng-controller="FertilizerController as fertCtrl" >
		<table>
		  <tr>
			<td>
			  <h2>Field</h2>
			</td>
		  </tr>

		  <tr>
			<td>field size:</td>

			<td>
			  <input ng-model="fertCtrl.field_size"  type="number" min="0" /> 	
			</td>

			<td>
			  <input ng-model="fertCtrl.field_units" type="radio" value="acres" /> acres
			  <input ng-model="fertCtrl.field_units" type="radio" value="ftsquare" /> ft<sup>2</sup>
			</td>
			<td> = {{ fertCtrl.field_ftsquare() | number:0 }} ft <sup>2</sup>
			</td>
	      </tr>

		  <tr>
			<td>
			  <h2>Soil</h2>
			</td>
		  </tr>

		  <tr>
			 <td></td>
			 <td></td>
			 <td>N (lbs/ acre) </td>
			 <td>P (lbs/ acre)</td>
			 <td>K (lbs/ acre)</td>

			 <td>N (lbs/ acre) </td>
			 <td>P<sub>2</sub>O<sub>5</sub>(lbs/ acre)</td>
			 <td>K<sub>2</sub>O (lbs/ acre)</td>

			 <td>N <i>available</i> </td>
			 <td>P<sub>2</sub>O<sub>5</sub> <i>available</i> </td>
			 <td>K<sub>2</sub>O <i>available</i> </td>
		   </tr>

		   <tr>
			 <td>your soil</td>
			 <td>
			   <input ng-model="fertCtrl.soil_units" type="radio" value="lbsa" /> lbs / acre
			   <input ng-model="fertCtrl.soil_units" type="radio" value="ppm" /> ppm
			 </td>
			 <td><input ng-model="fertCtrl.n" type="number" min="0" required /></td>
			 <td><input ng-model="fertCtrl.p" type="number" min="0" required /></td>
			 <td><input ng-model="fertCtrl.k" type="number" min="0" required /></td>

			 <td> {{fertCtrl.n_lbsa ()| number:0}}</td>
			 <td> {{fertCtrl.p2o5_lbsa() | number:0}}</td>
			 <td> {{fertCtrl.k2o_lbsa() | number:0}}</td>



			 <td class="available"> {{fertCtrl.n_soil_available_lbsa()| number:0 }}  </td>
			 <td class="available"> {{fertCtrl.p2o5_soil_available_lbsa()| number:0 }}  </td>
			 <td class="available"> {{fertCtrl.k2o_soil_available_lbsa()| number:0 }}  </td>
		   </tr>

		   <tr>
			 <td>
			  <input ng-model="fertCtrl.fertilizer_lbs" type="number" min="0" /> lbs of 
			 </td>
			 <td>
           	  <select ng-model="fertCtrl.fertilizer_type" ng-options="choice.name for choice in fertCtrl.known_fert_types">  </select>
			 </td>

			 <td></td>
			 <td></td>
			 <td></td>

			 <td> {{fertCtrl.n_fertilizer_lbsa()| number:0 }}  </td>
			 <td> {{fertCtrl.p_fertilizer_lbsa()| number:0 }}  </td>
			 <td> {{fertCtrl.k_fertilizer_lbsa()| number:0 }}  </td>

			 <td class="available"> {{fertCtrl.n_fertilizer_available_lbsa()| number:0 }}  </td>
			 <td class="available"> {{fertCtrl.p2o5_fertilizer_available_lbsa()| number:0 }}  </td>
			 <td class="available"> {{fertCtrl.k2o_fertilizer_available_lbsa()| number:0 }}  </td>
		   </tr>

		   <tr ng-repeat="my_fertilizer in fertCtrl.my_fertilizers">
			 <td>
			   {{my_fertilizer.name}}
			 </td>
		   </tr>

		   <tr>
			 <td>
			   <h2>Total</h2>
			 </td>
			 </tr>
		   <tr>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td>{{fertCtrl.n_total_available_lbsa() | number:0}}</td>
			 <td>{{fertCtrl.p2o5_total_available_lbsa() | number:0}}</td>
			 <td>{{fertCtrl.k2o_total_available_lbsa() | number:0}}</td>

		   </tr>

		   <tr>
			 <td>
			   <h2>Crops</h2>
			 </td>
		   </tr>

		   <tr ng-repeat="my_crop in fertCtrl.my_crops">

			 <td>{{my_crop.name}}</td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td ng-class="{good: fertCtrl.n_total_available_lbsa()  > my_crop.n, bad: fertCtrl.n_total_available_lbsa()  < my_crop.n}">{{my_crop.n}}</td>
			 <td ng-class="{good: fertCtrl.p2o5_total_available_lbsa()  > my_crop.p2o5, bad: fertCtrl.p2o5_total_available_lbsa()  < my_crop.p2o5}">{{my_crop.p2o5}}</td>
			 <td ng-class="{good: fertCtrl.k2o_total_available_lbsa()  > my_crop.k2o, bad: fertCtrl.k2o_total_available_lbsa()  < my_crop.k2o}">{{my_crop.k2o}}</td>
		   </tr>

		   <tr>
			 <td>
           	   <select ng-model="fertCtrl.crop_type" 
					   ng-options="choice.name for choice in  fertCtrl.unchosen_crop_types()"
					   ng-change="fertCtrl.addCrop()">
				 </select>

			 </td>
		   </tr>

		</table>




      <script type="text/javascript" src="1.5/angular.js"></script>
      <script type="text/javascript" src="app.js"></script>

    </body>
</html>



